
{% load staticfiles %}


<!-- header for home page start -->
<div class="wrapper">

	<div class="container ">

		<nav class="clearfix">
		<ul class="clearfix main-nav">
			<li><a href="index.html">Home</a></li>
			<li class="dropdown">
      <button class="dropbtn">Services</button>
           <div class="dropdown-content">
               <a href="#">Surgery</a>
               <a href="#">Gynaecology</a>
               <a href="#">Biochemistry</a>
               <a href="#">Dental</a>
              <a href="#">ENT</a>
            </div>
      </li>
        <li class="dropdown">
      <button class="dropbtn">Departments</button>
           <div class="dropdown-content">
               <a href="#">Emergency</a>
               <a href="#">Intensive care unit</a>
               <a href="#">Coronary care unit</a>
               <a href="#">Burn Center</a>
              <a href="#">Endoscopy</a>
              <a href="#">Physical Therapy</a>
            </div>
      </li>
			<li><a href="#">News</a></li>
			<li><a href="aboutus.html">About Us</a></li>

		</ul>

		<div class="login-nav">
      <ul class="clearfix">
        <li><input class="searchbox" type="text" placeholder="Search.."></li>
         <li><button type="submit"><i class="fa fa-search"></i></button></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
      </ul>
    </div>
		</nav>

	</div>
</div>
<!-- headerend -->
